<section class="relative w-full pb-20 md:pb-28 px-6 md:px-14 lg:px-20 overflow-hidden">

  <!-- INTERIOR IMAGE DECORATION -->
  <div 
    class="absolute left-5 top-20 w-[420px] h-[560px] 
           bg-[url('https://media.istockphoto.com/id/483752415/photo/taj-mahal-mosque-india.webp?a=1&b=1&s=612x612&w=0&k=20&c=U4LE55v5jIMI_4Qlm74Y3XgblNLUjz6A6x7gtNUsXgk=')]
           bg-cover bg-center rounded-3xl 
           opacity-30 blur-sm
           mask-image: linear-gradient(to right, black, transparent);
           -webkit-mask-image: linear-gradient(to right, black, transparent);
           pointer-events-none -z-10">
  </div>

  <div class="grid md:grid-cols-3 gap-6 relative z-10">
    
    <!-- LEFT SECTION -->
    <div class="space-y-3">
      <p class="text-md tracking-widest text-[#D4894E] font-semibold uppercase">
        FAQs
      </p>

      <h2 class="text-4xl md:text-5xl font-semibold text-[#314054] leading-tight">
        Still Have A <br /> Question?
      </h2>
    </div>

    <!-- RIGHT FAQ LIST -->
    <div class="md:col-span-2 space-y-6">

      <div *ngFor="let item of faqs; let i = index"
        class="p-6 rounded-2xl border border-gray-200 bg-white shadow-sm
 hover:border-[#D4894E]/40 transition-all duration-300 cursor-pointer"
        (click)="toggleFAQ(i)">

        <div class="flex justify-between items-center">
          <div>
            <p class="text-[#D4894E] font-semibold text-sm">{{ item.id }}</p>
            <h3 class="text-md md:text-2xl font-medium text-[#083b3b] mt-1">
              {{ item.question }}
            </h3>
          </div>

          <svg *ngIf="!item.open" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 24 24" stroke-width="2"
            stroke="#083b3b" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m6 9 6 6 6-6" />
          </svg>

          <svg *ngIf="item.open" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 24 24" stroke-width="2"
            stroke="#083b3b" class="w-6 h-6 rotate-180 transition-transform">
            <path stroke-linecap="round" stroke-linejoin="round" d="m6 9 6 6 6-6" />
          </svg>
        </div>

        <div 
          *ngIf="item.open"
          class="mt-4 text-gray-600 text-sm leading-relaxed animate-fadeIn">
          {{ item.answer }}
        </div>

      </div>

    </div>
  </div>
</section>
