<section class="relative overflow-hidden">
  <!-- Slider Wrapper -->
  <div class="fixed-hero relative flex justify-center items-center overflow-hidden bg-white w-full">
    <div class="relative flex transition-transform duration-700 ease-in-out"
      [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
      <div *ngFor="let img of banners" class="w-full flex-shrink-0 flex justify-center items-center p-1">
        <img [src]="img" alt="WINIX Banner" class="hero-img block rounded md:rounded-md w-full" />
      </div>
    </div>
  </div>

  <div class="absolute inset-0 flex items-center justify-center text-center pointer-events-none">
    <div class="max-w-2xl mx-auto px-4">
      <!-- <h1 class="text-white text-3xl md:text-5xl font-bold">Your Message</h1> -->
    </div>
  </div>
</section>
